* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: rgb(162, 69, 238);
  --main-hov: rgb(205, 150, 250);
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fit-screen {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

@import "./signUp/userReg.css";
@import "./main/navbar/navbar.css";
@import "./main/feed/feed.css";
@import "./main/chatrooms/chat.css";
@import "./main/profile/profile.css";