


.avatar-loca {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.form-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: -1px 6px 9px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 6px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 6px 9px 0px rgba(0,0,0,0.75);
  padding: 3rem;
  position: relative;
}

.form-title {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.field {
  width: 50%;
  padding: 3rem;
}

.userType {
  display: grid;
}

.userType button {
  width: 200px;
  height: 70px;
  background-color: rgb(162, 69, 238);
  color: #fff;
  margin: 20px auto;
  border: 0px;
  font-size: 14px;
}

.userType button:hover{
    background-color: rgb(205, 150, 250);
    cursor: pointer;
}

.field-mobile {
  min-width: 300px;
  width: 50%;
}

.field-quart {
  width: 25%;
}

.closeForm {
  background-color: #fff;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 17px;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: 0px;
}

.closeForm:hover {
  background-color: rgb(205, 150, 250);
}

label {
  margin-left: 35px;
  float: left;
}

input {
  width: 80%;
  height: 30px;
  min-width: 230px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 8px;
  outline: 1px solid #f3f4f6;
}

input:focus {
  outline: 3px solid rgb(89, 160, 240);
}

select {
  width: 80%;
  height: 30px;
  min-width: 230px;
  margin: 10px;
  padding-left: 8px;
  border-radius: 5px;
  outline: 1px solid #f3f4f6;
}

.btn {
  width: 50%;
  margin: 30px;
  align-items: center;
  text-align: center;
  position: relative;
}


.btn button:hover {
  background-color: rgb(205, 150, 250);
  cursor: pointer;
}

.check {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.check input {
  width: 15px;
  height: 13px;
  margin: 10px;
  padding: 0px;
  min-width: 10px;
}

.check label {
    float: none;
}

.form button {
  width: 100px;
  height: 40px;
  background-color: rgb(162, 69, 238);
  color: #fff;
  border: 0px;
  border-radius: 10px;
}



@media screen and (max-width: 1024px) {
    .field {
        width: 100%;
        min-width: 320px;
    } 

    .avatar-loca {
        display: none;
    }

    label {
        margin-left: 0px;
        float: none;
      }
}

@media screen and (max-width: 400px) {
   .field{
     padding: 0px;
   }
}