.avatar-loca {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.loginBut {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.loginBut button {
  height: 30px;
  width: 70px;
  margin: 0px 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
}

.loginBut button:hover {
  background-color: var(--main-hov);
}

.form-field {
  display: flex;
  min-width: 320px;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: -1px 6px 9px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 6px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 6px 9px 0px rgba(0,0,0,0.75);
  padding: 1.5rem;
  position: relative;
}

.form-title {
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.field {
  width: 50%;
  padding: 1.5rem;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-direction: column;
}

.userType {
  display: grid;
}

.userType button {
  width: 200px;
  height: 70px;
  background-color: var(--main-bg);
  color: #fff;
  margin: 30px;
  border: 0px;
  font-size: 14px;
}

.userType button:hover{
    background-color: var(--main-hov);
    cursor: pointer;
}

.field-mobile {
  min-width: 300px;
  width: 50%;
}

.field-quart {
  width: 25%;
}

.confirmField P {
  text-align: center;
  font-size: 16px;
  margin-bottom: 1rem;
}

label {
  margin-left: 35px;
  float: left;
}

input {
  width: 80%;
  height: 30px;
  min-width: 230px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 8px;
  outline: 1px solid #f3f4f6;
}

input:focus {
  outline: 3px solid rgb(89, 160, 240);
}

select {
  width: 80%;
  height: 30px;
  min-width: 230px;
  margin: 10px;
  padding-left: 8px;
  border-radius: 5px;
  outline: 1px solid #f3f4f6;
}

.btn {
  width: 100%;
  margin: 10px;
  align-items: center;
  text-align: center;
  position: relative;
}

.btn button 


.btn button:hover {
  background-color: var(--main-hov);
  cursor: pointer;
}

.check {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.check input {
  width: 15px;
  height: 13px;
  margin: 10px;
  padding: 0px;
  min-width: 10px;
}

.check label {
    float: none;
}

.form button {
  width: 100px;
  height: 40px;
  background-color: var(--main-bg);
  color: #fff;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
}



@media screen and (max-width: 1024px) {
    .field {
        width: 100%;
        min-width: 320px;
    } 

    .avatar-loca {
        display: none;
    }

    label {
        margin-left: 0px;
        float: none;
      }

      .form-title {
        padding-top: 1rem;
      }

      .form-field {
        padding: 5rem;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }



}

@media screen and (max-width: 400px) {
   .field{
     padding-top: 2rem;
   }

   .form-field {
     padding: 0px;
   }
}