.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 200;
  overflow: hidden;
  top: -3px;
  border-bottom: 2px solid #fff;
}

.nav {
  width: 100%;
  background-color: var(--main-bg);
  min-width: 320px;
  color: #fff;
}

.navList {
  width: 100%;
  height: 60px;
  list-style: none;
  display: flex;
  word-wrap: break-word;
  justify-content: space-between;
  background-color: var(--main-bg);
}

.sideBar {
  display: none;
  position: fixed;
  left: 0;
  top: 19%;
  z-index: 2;
  background-color: var(--main-bg);
}

.showSideBar {
  display: block;
}

.sideList {
  display: flex;
  width: 50px;
  flex-direction: column;
  list-style: none;
  background-color: var(--main-bg);
  justify-content: space-evenly;
}

.sideList li {
  margin: auto;
  border: 1px solid #fff;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--main-bg);
  border-left: 0px;
}

.sideList li:hover {
  background-color: var(--main-hov);
}

.navList li {
  height: 100%;
  padding: 15px 10px;
}

.userName {
  text-align: center;
  font-size: 14px;
  display: flex;
  word-wrap: break-word;
  align-items: center;
  justify-content: space-around;
}

.userName img {
  margin-right: 5px;;
}

.p-left {
  height: 100%;
  display: flex;
  width: 80%;
}

.p-right {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.hamBtn {
  padding: 0px 8px !important;
}

.hamBtn img {
  margin-top: 8px;
  cursor: pointer;
}

.close {
  margin-top: 0px;
}

.activeTab {
  background-color: #5c01c1 !important;
}



@media screen and (max-width: 325px) {
  .sideBar {
    position: fixed;
    left: 0;
    top: 20%;
  }
  

  .sideList li {
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .sideBar {
    position: fixed;
    left: 0;
    top: 25%;
  }
  

  .sideList li {
    width: 100%;
    height: 50px;
  }
}